@import "normalize.scss"

$color-grey: #CDCDCD
$color-primary: #F1CDB3
$transition-timing: ease

@mixin description-text($text-color, $font-size)
    color: $text-color
    font-size: $font-size
    font-weight: 400
    line-height: 160%
    letter-spacing: 0px
    text-align: left


@mixin button($width, $border, $background-color)
    font-size: 17px
    background: $background-color
    text-align: center
    font-weight: 400
    line-height: 130%
    letter-spacing: 6%
    width: $width
    height: 52px
    border: $border
    border-radius: 100px

* 
    box-sizing: border-box
    margin: 0
    padding: 0

.start-screen
    &__container
    position: relative
    padding: 30px 40px 0px 40px
    background-image: radial-gradient(234.05% 111.80% at 0% 0%,rgb(91, 72, 58),rgb(38, 36, 37) 100%), url("/img/start-screen-background.jpeg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    width: 100%
    height: 908px
    &__content-left
        position: absolute
        top: 360px
        width: 460px
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-bottom: 42px
    &__description-text
        @include description-text($text-color: #CDCDCD, $font-size: 15px)
        margin-bottom: 42px
    &__button-primary
        @include button(207px, $border: 100px, $background-color: $color-primary )
    &__content-right
        position: absolute
        width: 698px
        height: 728px
        right: 0px
        top: 180px
        background-image: url("/img/start-screen-puppy.png")
    &__h1
        display: flex
        flex-direction: row
        align-items: center
        font-size: 44px
        color: #fff
        font-weight: 400
        line-height: 130%
        letter-spacing: 0%
        text-align: left
        margin: 0 0 42px 0
    &__content-right

.shelter-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.navigation
    &__list
        display: flex
        flex-direction: row
    &__item
        margin-right: 35px
        list-style: none
        &:last-child
            margin-right: 0px
    &__item-text
        font-size: 15px
        font-weight: 400
        line-height: 160%
        letter-spacing: 0px
        text-align: left
        text-decoration: none
        color: $color-grey
        border-bottom: 2px solid transparent 
        transition: 0.3s ease
        &:hover
            border-bottom-color: #F1CDB3

.about-project
    width: 100%
    height: 588px
    &__container
        margin: 0 auto
        height: 408px
        padding: 80px 40px 100px 40px
        width: 1200px
    &__wrapper
        display: flex
        flex-direction: row
        justify-content: center
    &__left
        width: 300px
        height: 400px
        background: url("/img/about-pets.png")
        margin-right: 120px
    &__right
        padding: 14px 0 14px 0
        display: flex
        flex-direction: column
    &__description
        width: 400px
        margin-bottom: 25px
        @include description-text($text-color: #4C4C4C, $font-size: 15px)
    &__title
        margin-bottom: 25px

.title  
    font-size: 35px
    color: #545454
    font-weight: 400
    line-height: 130%
    letter-spacing: 6%
    text-align: left

.pets
    padding: 80px 40px 100px 40px
    width: 100%
    height: 877px
    background: #F6F6F6
    &__wrapper
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__title 
        text-align: center
        width: 400px
        height: 90px
        margin: 0 auto 60px
    &__cards
        display: flex
        flex-direction: row
        margin-bottom: 60px
    &__card
        display: flex
        flex-direction: column
        align-content: center
        justify-content: center
        background: #FAFAFA
        border-radius: 9px
        margin-right: 90px
        &:last-of-type
            margin-right: 53px
    &__name
        font-size: 20px
        font-weight: 400
        line-height: 23px
        letter-spacing: 6%
        text-align: center
        margin-bottom: 30px
    &__img
        margin-bottom: 30px
    &__button
        @include button($width: 187px, $border:2px solid rgb(241, 205, 179) , $background-color: transparent )
        margin: 0 auto 30px
    &__second-button
        @include button($width: 261px, $border: none, $background-color: #F1CDB3 )
        margin: 0 auto
        
.arrows 
    background: transparent
    border: none
    margin-right: 53px
    &:last-child
        margin-right: 0px

.help
    padding: 80px 40px 100px 40px
    width: 100%
    height: 611px
    background: fff
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__title
        color: #545454
        font-size: 35px
        font-weight: 400
        line-height: 130%
        letter-spacing: 6%
        text-align: center
        margin-bottom: 60px
    &__list-top
        display: flex
        flex-direction: row
        margin-bottom: 55px
    &__top
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-right: 120px
        &:last-child
            margin-right: 0px
    &__text
        font-size: 20px
        font-weight: 400
        line-height: 115%
        letter-spacing: 6%
        text-align: center
    &__image
        height: 60px
        width: 60px
        margin-bottom: 30px
    &__list-bottom
        display: flex
        flex-direction: row
    &__bottom
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-right: 120px
        &:last-child
            margin-right: 0px
.donation
    padding: 80px 180px 100px 180px
    width: 100%
    height: 462px
    background: #F6F6F6
    &__wrapper
        display: flex
        flex-direction: row
    &__left
        margin-right: 30px
        padding: 10px 0 10px 0
    &__right
        display: flex
        flex-direction: column
    &__title
        color: #545454
        font-size: 35px
        font-weight: 400
        line-height: 130%
        letter-spacing: 6%
        text-align: left
        margin-bottom: 20px
    &__description
        font-size: 15px
        font-weight: 400
        line-height: 110%
        letter-spacing: 6%
        text-align: left
        color: #545454
        margin-bottom: 20px
    &__credit-card
        display: flex
        flex-direction: row
        justify-content: center
        width: 350px
        height: 43px
        padding: 10px 15px 10px 15px
        background: #F1CDB3
        border-radius: 9px
        margin-bottom: 20px
    &__card-image
        margin-right: 20px
    &__card-text
        font-size: 20px
        font-weight: 400
        line-height: 115%
        letter-spacing: 6%
        text-align: left
    &__toltip-text
        width: 380px
        font-family: Arial
        font-style: italic
        font-size: 12px
        font-weight: 400
        line-height: 18px
        letter-spacing: 0px
        text-align: left
        color: #B2B2B2
.footer
    width: 100%
    height: 350px
    background-image: radial-gradient(234.05% 111.80% at 0% 0%,rgb(91, 72, 58),rgb(38, 36, 37) 100%), url("/img/start-screen-background.jpeg")
    &__container
        padding: 40px 40px 0 40px
    &__wrapper
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
    &__contacts
        display: flex
        flex-direction: column
        margin-right: 160px
    &__title
        color: #fff
        font-size: 35px
        font-weight: 400
        line-height: 130%
        letter-spacing: 6%
        text-align: left
        margin-bottom: 45px
    &__locations
        margin-right: 160px 
    &__image
    &__element-contacts
        display: flex
        flex-direction: row
        align-items: center
        font-family: Georgia
        font-size: 20px
        font-weight: 400
        line-height: 115%
        letter-spacing: 6%
        text-align: left
        color: #F1CDB3
        text-decoration: none
        margin-bottom: 40px
        &:last-child
            margin-bottom: 0px
    &__element-locations
        display: flex
        flex-direction: row
        align-items: center
        font-family: Georgia
        font-size: 20px
        font-weight: 400
        line-height: 115%
        letter-spacing: 6%
        text-align: left
        color: #F1CDB3
        text-decoration: none
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0px
    &__img
        margin-right: 20px